@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/diego-tavares-ferreira/">https://www.linkedin.com/in/diego-tavares-ferreira/</a><br />
    <strong>Email:</strong> <a href="mailto:diegotavaresferreira@gmail.com">diegotavaresferreira@gmail.com</a>
</address>
